body,ul,li,ol,p,pre,h1,h2,input,form,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
a,a:visited{
	text-decoration:none;
	color:#666;
}
a:hover{
	color:#0085d0;
}
*{
	font-family:微软雅黑;
}
ul li{
	list-style:none;
}