body{
    font-family: "微软雅黑";
}
@font-face {
  font-family: 'font';
  src: url('../fonts/D-font/iconfont.eot');
  src: url('../fonts/D-font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/D-font/iconfont.woff') format('woff'),
  url('../fonts/D-font/iconfont.ttf') format('truetype'),
  url('../fonts/D-font/iconfont.svg#iconfont') format('svg');
}
.error{
    color:red;
    padding-top:5px;
    box-sizing: border-box;
}
@import "D-mixin";
@media screen and (max-width:768px){
    .D-big{
        display: none;
    }
.h-header {
  width: 100%;
  height: 84px;
  background: #273786;
  padding-top: 12px;
  position: relative; }

.h-hleft {
  width: 50%;
  height: 60px;
  margin-left: 10px;
  position: relative; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.h-hleft i {
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  margin-left: 10px;
  position: absolute;
  cursor: pointer;
  left: 20px;
  top: 1px; }

.h-hleft input {
  width: 100%;
  height: 60px;
  margin-left: 15px;
  color: #fff;
  background: #273786;
  border: 1px solid #ccc; }

.h-hright {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 115px;
  top: 12px;
  border: 1px solid #fff;
  text-align: center; }

.h-hright i {
  font-size: 40px;
  line-height: 60px;
  color: #fff; }

.h-hrights {
  width: 80px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 12px;
  text-align: center; }

.h-yingc {
  position: absolute;
  width: 150px;
  height: 360px;
  right: 0px;
  top: 83px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
  display: none; }
.h-yingc a{
    color: #fff;
text-decoration:none;
}
.h-yingc h3 {
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  font-size:16px ;
  margin:0;
  font-family: "Microsoft YaHei";
  border-bottom: 1px solid #0085D0; }
 .h-yingc h3 a:hover{
  color:#34D9E6 ;
  text-decoration:none;
}
.h-hrights i {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  cursor: pointer; }
    
    
    
    
    .banner-m{
        width: 100%;
        height: 1098px;
        background-image: url(../img/D-img/W-shouye-bannerc.jpg);
        background-size: cover;
        background-position: center center;
    }
    .center{
        width:60%;
        margin: 47px auto 0 auto;
        display: block;
    }
    /*p{
        font-size: 24px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }*/
   .D-active > p{
       color:#12BEF0;
   }
   .tit-tu{
       font-family: font;
       text-align: center;
       margin-bottom: -20px;
       margin-top: 30px;
       @include font(36px,#333,400);
   }
   .tit-tu1{
       margin-top:65px;
   }
    .tit{
        width: 80%;
        margin: 40px auto 0 auto;
        font-size: 22px;
        color: #333;
        text-align: center;
        text-transform: uppercase;
    }
    .tit-one{
        width: 80%;
        margin: 10px auto 0 auto;
        color: #959393;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }
    .small{
        margin: 50px auto 0 auto;
        display: block;
    }
    .map{
        background-image: url(../img/D-img/D-ditu1.png);     
        width: 100%;
        height: 470px;
        background-size: cover;
        background-position: center center;
        margin-top: 130px;
        padding-top: 20px;
        /*overflow: hidden;*/
    }
    .map > div{
        width: 236px;
        height: 44px;
        border-radius: 22px;
        border: 4px solid #6b9cb4;
        color: #6B9CB4;
        font-size: 30px;
        margin: -30px auto 0 auto;
        text-align: center;
        line-height: 44px;
    }
     .look-j{
        width: 100%;
        text-align: center;
        color: #C3C3C3;
        font-size: 16px;
        margin-top: 50px;
    }
    .look-j > p:first-child{
        font-size: 24px;
        color: #333;
        margin: 8px 0;
        
    }
    .look-j > p:nth-child(2),.look-j > p:nth-child(3){
        width:95%;
        height:auto;
        padding:0 10px;
        color:#333;
        box-sizing: border-box;
    }
    .look-j > p:first-child > span{
        color: #6DDCE6;
        font-weight: bold;
    }
    .word{
        width: 100%;
        color: #51F8FA;
        font-size: 30px;
        margin: 88px auto 0 auto;
        text-align: center;
        text-transform: uppercase;
    }
    .word span{
        color: #797979;     
    }
    .line{
       width: 100%;       
    }
    .line > img{
        width: 75%;
        height: 7px;
    }
    .line > p{
        width: 25%;
        float: right;
        font-size: 20px;
        color: #BABABA;
        text-align: right;
    }
    .word + p{
        color: #646363;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 4px;
        margin-bottom: 55px;
    }
    .word + p> span{
        letter-spacing: 0px;
    }
    .talk{
        width: 100%;
        height: auto;
        padding: 0 24px;
        box-sizing: border-box;
    }
    .before{
        width: 20%;
        height: 70px;
        font-size: 24px;
        color: #20b1f6;
        text-align: right;
        display:inline-block
    }
    .talk > input{
        width: 77%;
        height: 70px;
        border: 1 solid #EAEAEA;
    }
    .before-o{
        width: 20%;
        height: 70px;
        font-size: 24px;
        color: #20b1f6;
        text-align: right;
        display:block;
        float: left;
        line-height: 70px;  
        margin-right: 5px;  
    }
    .D-liuyan1{
        height:auto;
        margin-top:50px;
    }
    .D-liuyan1 > div{
        @include cube(80%,40px);
        border:1px solid #666;
        padding-left:10px;
        box-sizing: border-box;
        margin:0 auto;
        margin-top:30px;
    }
    .D-liuyan1 > div > input{
        margin-left:5px;
        @include cube(79%,35px);
        outline:none;
        border:0;
    }
    .D-liuyan2{
        margin:0 auto;
        margin-top:30px;
        @include cube(77%,180px);
        border:1px solid #666;
        box-sizing: border-box;
    }
    .D-liuyan2 > textarea{
        display: block;
        margin-left:20px;       
        @include cube(80%,100%);
        outline:none;
        border:0;
    }
    .D-2{
        text-align: center;
    }
    .D-ti{
        margin:40px 0;
        @include cube(250px,45px);
        background:#65D7DC;
        color:#fff;
    }
    textarea{
        width: 77%;
        height: 200px;
        border: 1 solid #EAEAEA;
    }
    input[type=submit]{
        width: 80%;
        height: 54px;
        background: #20B1F6;
        text-align: center;
        line-height: 54px;
        font-size: 24px;
        color: #FFFFFF;
        margin: 10px auto;
        display: block;
    }
    .look{
        width: 100%;
        text-align: center;
        color: #C3C3C3;
        font-size: 18px;
        margin-top: 90px;
    }
    .look > p:first-child{
        font-size: 24px;
        color: #333;
    }
    .look > p:nth-child(2),.look > p:nth-child(3){
        width:90%;
        color: #333;
        height:auto;
        padding:0 10px;
        box-sizing: border-box;
    }
    .look > p:first-child > span{
        color: #A5A5A5;
        font-weight: bold;
    }
    footer{
        width: 100%;
        height: 334px;
        background: #283A86;
        margin-top: 53px;
        text-align: center;
        overflow: hidden;
        text-transform: uppercase;
        color: #8A8EA7;
        font-size: 18px;
    }
    footer > p:nth-child(1) span{
        color: #76e0ed;
    }
    
    footer > p:nth-child(1){
        color: #c9c9c9;
        font-size: 30px;
        margin-top: 40px;
    }
    footer > p:nth-of-type(2){
        font-size: 24px;
        margin-bottom: 14px;
    }
    footer > p:nth-of-type(3){
        width:95%;
    }
    footer > div{
        margin-top: 20px;
    }
    footer > div >img:nth-child(2){
       margin: 0 20px 0 20px;
    }
}
@media screen and (min-width:768px){
    .D-small{
        display: none;
    }
    .W-shouye-top {
        @include cube(100%,100px);
        background: #283A86;
    }

    .W-shouye-neitop {
        @include cube(80%,100px);
        overflow: hidden;
        margin: 0 auto;
        //      text-align:justify;

        div {

            @include cube(12.5%,100px);
            float: left;

            a {
                display: block;
                float: left;
                @include cube(150px,100px);
                text-align: center;
                line-height: 100px;
                color: #F6F6F9;
            }

        }

    }

    .W-shouye-logo {

        img {
            @include cube(50px,100px);
            display: block;
            float: left;
        }

        span {
            line-height: 100px;
            display: block;
            float: left;
            color: #F6F6F9;
        }
    }

    .W-shouye-neitop > div > a {
        &:hover {
            color: #34D9E6;
        }
    }
    .D-call-banner{
        @include cube(100%,620px);
        background-image: url(../img/D-img/W-shouye-bannerc.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    .D-lujin{
        @include font(14px,#393939,400);
        margin-left:5px;
        line-height:100px;       
    }
    .D-title1{
        height:146px;
        background-image: url(../img/D-img/D-call-title.png);
        background-size:cover;
        background-position:center;     
    }
    .D-fashi{
        height:200px;
        padding-top:70px;
        position:relative;
        overflow: hidden;
        
    }
    .D-fashi > p{
        text-align: center;
        @include font(12px,#333,400);
        position:absolute;
        
    }
    .D-fashi > p:first-child{
        top:50px;
        left:50%;
        margin-left:-10px;
    }
    .D-fashi > p:nth-child(2){
        top:120px;
        left:50%;
        margin-left:-50px;
    }
    .D-fashi > p:nth-child(3){
        top:145px;
        left:40px;
    }
    .D-fashi > p:first-child{
        font-family: font;
        @include font(40px,#333,400);
    }
    
    .D-active  > p:first-child{
        color:#36F6F8;
    }
    .D-active  > p{
        color:#36F6F8;
    }
    .D-fashi > .font:hover{
        top:50px;
        font-size:50px;
    }
    .D-ditu{
        height:470px;
        background-image: url(../img/D-img/D-ditu1.png);
        background-size:cover; 
        margin-top:60px;
    }
    .D-bottom{
        margin:50px 0;
    }
    .D-bottom > div:first-child{
        @include cube(580px,30px);
        margin:0 auto;
    }
    .D-bottom > div:last-child{
        @include cube(580px,60px);
        margin:0 auto;
    }
    .D-bottom  > div:first-child > p:first-child{
        @include font(16px,#a5a5a5,600);
        margin-left:215px;
        float:left;
    }
    .D-bottom  > div:first-child > p:nth-child(2){
        @include font(16px,#a5a5a5,400);
        float:left;
    }
    .D-bottom  > div:last-child{
        margin-top:10px;
        @include font(16px,#a5a5a5,400);
        text-align: center;
    }
    .D-title2{
        text-align: center;
        line-height: 100px;
        @include font(26px,#4BF7F9,300);
    }
    .D-title2 > span:nth-child(2){
        color:#6D6D6D;
    }
    .D-title3{
        margin-top:-25px;
        text-align: center;
        @include font(18px,#6D6D6D,300);
    }
    .D-title3 > span.D-1{
        display: inline-block;
        width:90px;
        height:1px;
        background:#6D6D6D;
        margin-bottom: 6px;
    }
    .D-liuyan1{
        height:auto;
        margin-top:50px;
    }
    .D-liuyan1 > div{
        @include cube(80%,40px);
        border:1px solid #666;
        padding-left:10px;
        box-sizing: border-box;
        margin:0 auto;
        margin-top:30px;
    }
    .D-liuyan1 > div > input{
        margin-left:5px;
        @include cube(80%,35px);
        outline:none;
        border:0;
    }
    .D-liuyan2{
        margin:0 auto;
        margin-top:80px;
        @include cube(80%,180px);
        border:1px solid #666;
        box-sizing: border-box;
    }
    .D-liuyan2 > textarea{
        margin-left:20px;
        @include cube(80%,100%);
        outline:none;
        border:0;
    }
    .D-2{
        text-align: center;
    }
    .D-ti{
        margin:40px 0;
        @include cube(250px,45px);
        background:#65D7DC;
        color:#fff;
    }
    
    .h-footer {
        width: 100%;
        height: 63px;
        background: #273786;
        display: block;
    }
    .h-footers {
        width: 100%;
        height: 100%;
        background-image: url(../img/h-footer.png);
        background-size: 100%;
        background-position:center center;
        background-repeat:no-repeat;
        margin: 0 auto;
    }
    
    
    
    
    
}
