@media screen and (max-width: 768px) {
  .W-shouye-top {
    width: 100%;
    height: 100px;
    background: #283A86; }
  .W-shouye-neitop {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: none; }
    .W-shouye-neitop div {
      width: 12.5%;
      height: 100px;
      float: left; }
      .W-shouye-neitop div a {
        display: block;
        float: left;
        width: 150px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        color: #F6F6F9; }
  .W-shouye-logo img {
    width: 50px;
    height: 100px;
    display: block;
    float: left; }
  .W-shouye-logo span {
    line-height: 100px;
    display: block;
    float: left;
    color: #F6F6F9; }
  .W-shouye-neitop > div > a:hover {
    color: #34D9E6; }
  .W-shouye-banner {
    width: 100%;
    height: 620px; }
  .W-shouye-bannerbox {
    width: 100%;
    height: 620px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0; }
    .W-shouye-bannerbox .W-shouye-bannerli {
      width: 100%;
      height: 620px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/W-shouye-banner2.png");
      background-size: cover;
      background-position: center center; }
     }
@media screen and (min-width: 768px) {
  .W-shouye-top {
    width: 100%;
    height: 100px;
    background: #283A86; }
  .W-shouye-neitop {
    width: 80%;
    height: 100px;
    overflow: hidden;
    margin: 0 auto; }
    .W-shouye-neitop div {
      width: 12.5%;
      height: 100px;
      float: left; }
      .W-shouye-neitop div a {
        display: block;
        float: left;
        width: 150px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        color: #F6F6F9; }
  .W-shouye-logo img {
    width: 50px;
    height: 100px;
    display: block;
    float: left; }
  .W-shouye-logo span {
    line-height: 100px;
    display: block;
    float: left;
    color: #F6F6F9; }
  .W-shouye-neitop > div > a:hover {
    color: #34D9E6; }
  .W-shouye-banner {
    width: 100%;
    height: 620px; }
  .W-shouye-bannerbox {
    width: 100%;
    height: 620px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0; }
    .W-shouye-bannerbox .W-shouye-bannerli {
      width: 100%;
      height: 620px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/W-shouye-banner2.png");
      background-size: cover;
      background-position: center center; }
     }
.h-header{
	width:100%;
	height:84px;
	background:#273786;
	padding-top: 12px;
	position: relative;
}
.h-hleft{
	width:50%;
	height:60px;
	margin-left: 10px;
	position: relative;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.h-hleft i{
	font-size: 20px;
	line-height: 60px;
	color: #fff;
	margin-left: 10px;
	position: absolute;
	left:20px;
	top:1px;
}
.h-hleft input{
	width:100%;
	height:60px;
	margin-left: 15px;
	background:#273786;
	border:1px solid #ccc;
}
.h-hright{
	width:60px;
	height:60px;
	position: absolute;
	right:115px;
	top:12px;
	border: 1px solid #fff;
	text-align: center;
}
.h-hright i{
	font-size: 40px;
	line-height: 60px;	
	color: #fff;
}
.h-hrights{
	width:80px;
	height:60px;
	position: absolute;
	right:20px;
	top:12px;
	text-align: center;
}
.h-yingc{
	position: absolute;
	width:150px;
	height:360px;
	right: 0px;
	top:83px;
	background: #fff;
	cursor: pointer;
	display: none;
	z-index: 1000;
}
.h-yingc h3{
	line-height: 60px;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #0085D0;
}
.h-hrights i{
	font-size: 40px;
	line-height: 60px;	
	color: #fff;
	cursor: pointer;
}
.h-fenye {
    display: none;
}
.h-gengduo{
	display: block;
	margin: 50px auto;
	text-align: center;
	font-size: 30px;
}
.h-dongtais{
        width:359px;
        height:174px;
        background-image: url(../img/h-aboutus.png);
        background-size: 100%;
        margin:20px auto;       
    }
     .h-dongtais h6:nth-child(1){
     	padding-top: 25px;
     }
     .h-dongtais h6:nth-child(2){
     	padding-top: 61px;
     }
    .h-dongtais h6{
    	color: #000;
    	font-size: 26px;
    	margin-left:152px;
    	
    }
.h-dibu{
	width: 100%;
    height: 330px;
    background: #273786;
    margin-top: 50px;
    text-align: center;
    padding-top: 40px;
}
.h-dibu h2{
	color:#76e0ed;
	font-size: 30px;
	margin-bottom: 10px;
}
.h-dibu h2 >span{
	color:#c9c9c9;
	font-size: 30px;
}
.h-dibu h3{
	color:#b9b9b9;
	font-size: 24px;
}
.h-dibu h4{
	color:#FFFFFF;
	font-size: 18px;
	margin-top: 10px;
	line-height: 24px;
}
.h-lianxiwom{
	height:98px;
}


.h-footer {
     display: none;   
}
.h-news1 {
    display: block;
}

.new1 {
    display: none;
}

.h-news>h2 {
    font-size: 14px;
}

.h-list2 h2 {
    font-size: 20px;
    margin-top: 20px;
}

.h-list2 h3 {
    font-size: 14px;
    margin-top: 20px;
}

.h-list2 h4 {
    font-size: 12px;
    margin-top: 20px;
}

.h-list3 h2 {
    font-size: 20px;
    margin-top: 20px;
}

.h-list3 h3 {
    font-size: 14px;
    margin-top: 20px;
}

.h-list3 h4 {
    font-size: 12px;
    margin-top: 20px;
}

.h-bottoms {
    height: 1px;
    margin-top: 50px;
    margin-left: 68px;
    background: #E5E5E5;
}

.h-more {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h-more>h3 {
    font-size: 16px;
    color: #a5a5a5;
    text-align: center;
}

.h-more>p {
    font-size: 12px;
    color: #090909;
    text-align: center;
}
.h-list1 {
    margin-top: 50px;
}

.h-list2 {
    margin-top: 50px;
}

.h-list3 {
    margin-top: 50px;
}
//尾部

@media screen and (max-width:768px) {
    .h-dongtais{
        width:359px;
        height:174px;
        background-image: url(../img/h-aboutus.png);
        background-size: 100%;
        margin:20px auto;       
    }
     .h-dongtais h6:nth-child(1){
     	padding-top: 25px;
     }
     .h-dongtais h6:nth-child(2){
     	padding-top: 61px;
     }
    .h-dongtais h6{
    	color: #000;
    	font-size: 26px;
    	margin-left:152px;
    	
    }
    
}

@media screen and (min-width: 1200px) {
	.h-dongtais{
		display: none;
	}
	.h-header{
		display: none;
	}
    .h-dongtai {
        width: 100%;
        height: 189px;
        background-image: url(../img/h-dongtai.png);
        background-size: 100%;
        margin-top: 96px;
    }
    .h-gengduo{
	display: none;
}
    .h-list1 {
        margin-left: 50px;
    }
    .h-list2 {
        height: 223px;
        margin-left: 50px;
        border: 1px solid #ccc;
    }
    .h-news {
        margin-top: 46px;
    }
    .new1 {
        display: block;
    }
    .h-news1 {
        display: none;
    }
    .h-list3 {
        margin-left: 50px;
    }
    .h-dibu{
    	display: none;
    }
    .h-footer {
        width: 100%;
        height: 63px;
        background: #273786;
        display: block;
    }
    .h-footers {
        width: 1200px;
        height: 100%;
        background-image: url(../img/h-footer.png);
        background-size: 100%;
        margin: 0 auto;
    }
    .h-fenye {
        margin-left: 150px;
        display: block;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .h-fenye1 {
        width: 77px;
        height: 27px;
        border-radius: 27px;
        background: #34f7f9;
        border: 1px solid #000;
        float: left;
        margin-left: 20px;
        text-align: center;
        line-height: 27px;
    }
    .h-circles {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        color: #34f7f9;
        background: #fff;
        text-align: center;
        line-height: 27px;
        float: left;
        margin-left: 20px;
    }
    .h-circles.active {
        background: #34f7f9;
        color: #fff;
    }
    .h-yanzheng {
        width: 120px;
        height: 27px;
        border-radius: 27px;
        float: left;
        margin-left: 20px;
        background: red;
        position: relative;
    }
    .h-yanzheng input {
        width: 90px;
        height: 27px;
        border-radius: 27px;
        border: 1px solid #000000;
    }
    .h-button {
        width: 50px;
        height: 27px;
        border-radius: 27px;
        border: 1px solid #000000;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 20;
        background: #fff;
        text-align: center;
        line-height: 27px;
    }
}