* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

@media screen and (min-width: 768px) {
  .W-shouye-top {
    width: 100%;
    height: 100px;
    background: #283A86; }
  .W-shouye-neitop {
    width: 1200px;
    height: 100px;
    margin: 0 auto; }
    .W-shouye-neitop div {
      width: 12.5%;
      height: 100px;
      float: left; }
      .W-shouye-neitop div a {
        display: block;
        float: left;
        width: 150px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        color: #F6F6F9; }
  .W-shouye-logo img {
    width: 50px;
    height: 100px;
    display: block;
    float: left; }
  .W-shouye-logo span {
    line-height: 100px;
    display: block;
    float: left;
    color: #F6F6F9; }
  .W-shouye-neitop > div > a:hover {
    color: #34D9E6; }
  .W-shouye-banner {
    width: 100%;
    height: 620px; }
  .W-shouye-bannerbox {
    width: 100%;
    height: 620px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0; }
    .W-shouye-bannerbox .W-shouye-bannerli {
      width: 100%;
      height: 620px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../img/W-shouye-banner2.png);
      background-size: cover;
      background-position: center center; }
  .W-shouye-we {
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 60px;
    height: 109px;
    display: block; }
  .W-shouye-wexia {
    height: 320px;
    margin: 0 auto;
    display: block; }
  .W-shouye-font {
    text-align: center; }
    .W-shouye-font h4 {
      font-size: 24px;
      color: #F77676;
      margin-top: 32px;
      margin-bottom: 12px; }
    .W-shouye-font img {
      display: block;
      margin: 0 auto;
      margin-bottom: 23px; }
    .W-shouye-font .W-shouye-font1zhong {
      width: 555px;
      height: auto;
      margin: 0 auto;
      margin-bottom: 28px;
      line-height: 28px;
      color: #ACABAB; }
    .W-shouye-font .W-shouye-font1ying {
      width: 555px;
      height: auto;
      margin: 0 auto;
      line-height: 28px;
      color: #979696; } }
