@import "W-mixin";
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
@media screen and(max-width:768px) {
    .h-header {
        width: 100%;
        height: 84px;
        background: #273786;
        padding-top: 12px;
        position: relative;
    }
    .h-hleft {
        width: 50%;
        height: 60px;
        margin-left: 10px;
        position: relative;
    }
    @font-face {
        font-family: 'iconfont';
        src: url("../fonts/iconfont.eot");
        src: url("../fonts/iconfont.eot?#iefix") format('embedded-opentype'), url("../fonts/iconfont.woff") format('woff'), url("../fonts/iconfont.ttf") format('truetype'), url("../fonts/iconfont.svg#iconfont") format('svg');
    }
    .iconfont {
        font-family: "iconfont" !important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }
    .h-hleft i {
        font-size: 20px;
        line-height: 60px;
        color: #fff;
        margin-left: 10px;
        position: absolute;
        left: 20px;
        top: 1px;
    }
    .h-hleft input {
        width: 100%;
        height: 60px;
        margin-left: 15px;
        background: #273786;
        border: 1px solid #ccc;
    }
    .h-hright {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 115px;
        top: 12px;
        border: 1px solid #fff;
        text-align: center;
    }
    .h-hright i {
        font-size: 40px;
        line-height: 60px;
        color: #fff;
    }
    .h-hrights {
        width: 80px;
        height: 60px;
        position: absolute;
        right: 20px;
        top: 12px;
        text-align: center;
    }
    .h-yingc {
        position: absolute;
        width: 150px;
        height: 360px;
        right: 0;
        top: 83px;
        background: #fff;
        cursor: pointer;
        display: none;
        z-index: 40;
    }
    .h-yingc h3 {
        line-height: 60px;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #0085D0;
    }
    .h-hrights i {
        font-size: 40px;
        line-height: 60px;
        color: #fff;
        cursor: pointer;
    }

    .W-shouye-top {
        @include cube(100%,100px);
        background: #283A86;
        display: none;
    }

    .W-shouye-neitop {
        @include cube(80%,100px);
        margin: 0 auto;
        display: none;

        //      text-align:justify;

        div {

            @include cube(12.5%,100px);
            float: left;

            a {
                display: block;
                float: left;
                @include cube(100%,100px);
                text-align: center;
                line-height: 100px;
                color: #F6F6F9;
            }

        }

    }

    .W-shouye-logo {

        img {
            @include cube(50px,100px);
            display: block;
            float: left;
        }

        span {
            line-height: 100px;
            display: block;
            float: left;
            color: #F6F6F9;
        }
    }

    .W-shouye-neitop > div > a {
        &:hover {
            color: #34D9E6;
        }
    }

    .W-shouye-banner {
        @include cube(100%,620px);

    }
    .W-shouye-bannerbox {
        @include cube(100%,620px);
        overflow: hidden;

        position: relative;
        top: 0;
        left: 0;
        .W-shouye-bannerli {
            @include cube(100%,620px);
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../img/W-shouye-banner2.png");
            background-size: cover;
            background-position: center center;
            opacity: 0;

        }

        .first {
            opacity: 1;
            transition: opacity 0.1s;
        }
    }
    .W-shouye-bannerbox > li:nth-child(1) {
        background-image: url("../img/W-shouye-bannerd.jpg");
    }
    .W-shouye-bannerbox > li:nth-child(2) {
        background-image: url("../img/W-shouye-bannerc.jpg");
    }
    .W-shouye-bannerbox > li:nth-child(3) {
        background-image: url("../img/W-shouye-bannere.jpg");
    }
    .W-shouye-circlebox {
        @include cube(60px,10px);
        //      background: red;
        position: absolute;
        left: 44%;
        bottom: -55px;
        .W-shouye-circle {
            @include cube(10px,10px);

            float: left;
            margin-left: 5px;
            border-radius: 50%;
            background: #CCCCCC;
        }
        .first {
            background: #6C645A;
        }
    }
    .W-shouye-left {
        @include cube(20px,30px);
        font-family: "宋体";
        font-size: 50px;
        font-weight: 600;
        position: absolute;
        left: 5;
        top: 50%;
        color: #ccc;
    }
    .W-shouye-right {
        @include cube(20px,30px);
        font-family: "宋体";
        font-size: 50px;
        font-weight: 600;
        position: absolute;
        right: 15px;
        top: 50%;
        color: #ccc;
    }

    //  .W-shouye-banner {
    //      @include cube(100%,620px);
    //
    //  }
    //  .W-shouye-bannerbox {
    //      @include cube(100%,620px);
    //      overflow: hidden;
    //
    //      position: relative;
    //      top: 0;
    //      left: 0;
    //      .W-shouye-bannerli {
    //          @include cube(100%,620px);
    //          position: absolute;
    //          top: 0;
    //          left: 0;
    //          background-image: url("../img/W-shouye-banner2.png");
    //          background-size: cover;
    //          background-position: center center;
    //
    //      }
    //  }
    .W-shouye-we {
        margin: 70px auto;
        height: 109px;
        display: block;

    }
    .W-shouye-wexia {
        width: 100%;
        //      margin-left:40%;
        margin: 0 auto;
        display: block;
    }
    .W-shouye-font {
        text-align: center;
        h4 {
            font-size: 24px;
            color: #F77676;
            margin-top: 32px;
            margin-bottom: 12px;

        }
        img {
            display: block;
            margin: 0 auto 23px;
        }
        .W-shouye-font1zhong {
            @include cube(80%,auto);
            margin: 0 auto 28px;
            line-height: 28px;
            color: #ACABAB;
        }
        .W-shouye-font1ying {
            @include cube(80%,auto);
            margin: 0 auto;
            line-height: 28px;
            color: #979696;

        }

    }
    .W-shouye-more {
        margin: 35px auto;
        display: block;

    }
    .W-shouye-xitiao {
        //      margin: 0 auto;
        //      display: block;
        display: none;

    }

    .W-shouye-meunbox {
        //      background: red;
        @include cube(100%,20px)padding-left: 25%;
        padding-right: 22%;
        box-sizing: border-box;
        margin-top: 10px;
        display: none;
    }

    .W-shouye-meun {
        @include cube(20%,20px);
        float: left;

    }
    .W-shouye-fuwu {
        margin: 70px auto;
        display: block;

    }
    .W-shouye-changtiao {
        display: none;
    }
    .W-shouye-xiaoping-a {
        margin-bottom: 70px;
    }
    .W-shouye-tuandui {
        margin: 70px auto;
        display: block;
    }
    .W-shouye-shejibox {
        display: none;
    }

    .W-shouye-shejibox2 {
        @include cube(100%,800px);
        margin: 93px auto;
        li {
            width: 100%;
            height: 300px;
            margin: 40px auto;

            a {
                display: block;
                //              float: left;
                @include cube(50%,auto);
                overflow: hidden;

                border: 10px solid #fff;
                //          margin-right: 10px;
                box-sizing: border-box;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                text-decoration: none;
                transition: all 0.2s linear;
            }
        }

    }
    .W-shouye-shejibox2 > li > a {
        &:hover p {
            color: #2859F8;
        }
        &:hover {
            transform: translate3d(0,-5px,0);
            //          box-shadow: 0 0px 10px #C6C6C6;

        }
    }

    .W-shouye-sheji1 {
        background-image: url("../img/W-shouye-ren1.png");
        float: left;

    }
    .W-shouye-sheji2 {
        background-image: url("../img/W-shouye-ren2.png");
        float: right;
    }
    .W-shouye-sheji3 {
        background-image: url("../img/W-shouye-ren3.png");
        float: left;

    }
    .W-shouye-sheji4 {
        background-image: url("../img/W-shouye-ren4.png");
        float: right;
    }
    .W-shouye-shejibox2 > li > a > p {
        //      color: #373838;
        margin-left: 15%;
        font-size: 6px;
        line-height: 20px;
        margin-bottom: 0;

    }

    .W-shouye-mingzi1 {
        margin-top: 140%;
        color: #A3928D;
    }
    .W-shouye-mingzi2 {

        color: #ccc;
    }
    .W-shouye-mingzi3 {
        color: #ccc;
    }
    .W-shouye-changtiao3 {
        width: 100%;
        display: none;
    }
    .W-shouye-xiaoping-b {
        margin-bottom: 40px;
    }
    .W-shouye-siren {
        margin: 95px auto;
        display: block;
    }
    .W-shouye-lianxi {
        margin: 105px auto;
        display: block;
    }

    //  大好时光
    .W-shouye-dahao {
        @include cube(80%,auto);
        margin: 0 auto;
        text-align: center;
        margin-bottom: 75px;
        h4 {
            @include font(24px,#343535,500);
        }
        h5 {
            @include font(18px,#212121,200);
            margin-top: 15px;
            margin-bottom: 15px;
        }
        p {
            @include cube(90%,auto);
            margin: 0 auto;
            color: #808080;
            font-size: 14px;
            margin-top: 28px;
            line-height: 25px;
        }
    }

    .W-shouye-lianxixia {
        margin: 0 auto;
        display: block;
    }

    //  bottom
    .W-shouye-bottom {
        @include cube(70%,auto);
        margin: 95px auto;
        li {
            @include cube(100%,auto);
            margin-top: 20px;
            overflow: hidden;
            position: relative;
            top: 0;
            left: 0;
            a {
                display: block;
                @include cube(100%,auto);
                img {
                    @include cube(100%,auto);

                }
            }
        }
    }

    .W-shouye-zhezhao {
        width: 100%;
        height: 100%;
        /*background: red;*/
        position: absolute;
        top: 0;
        left: 0;
        background: #2D2A27;
        opacity: 0.8;
        transition: all 0.2s linear;

    }
    .W-shouye-zhezhao > h2 {
        color: #fff;
        text-align: center;
        background: #000;
        opacity: 0;
        font-size: 20px;
        margin-top: 24%;
        margin-right: -160%;
        line-height:350%;

    }
    .W-shouye-zhezhao > p {
        color: #fff;
        text-align: center;
        opacity: 0;
        margin-left: -160%;
    }
    .W-shouye-bottombox:hover .W-shouye-zhezhao {
        opacity: 0.5;
    }

    @keyframes one {
        0% {
            margin-right: -100%;
        }
        100% {
            margin-right: 0;
        }
    }
    @keyframes two {
        0% {
            margin-left: -100%;
        }
        100% {
            margin-left: 0;
        }
    }
    .W-shouye-bottombox:hover .W-shouye-h2 {
        animation-name: one;
        animation-duration: 0.2s;
        animation-iteration: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .W-shouye-bottombox:hover .W-shouye-p {
        animation-name: two;
        animation-duration: 0.2s;
        animation-delay: 0.2s;
        animation-iteration: 1;
        animation-fill-mode: forwards;
        opacity: 1;

    }

    .h-dibu {
        width: 100%;
        height: 330px;
        background: #273786;
        margin-top: 50px;
        text-align: center;
        padding-top: 40px;
    }
    .h-dibu h2 {
        color: #76e0ed;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .h-dibu h2 > span {
        color: #c9c9c9;
        font-size: 30px;
    }
    .h-dibu h3 {
        color: #b9b9b9;
        font-size: 24px;
    }
    .h-dibu h4 {
        color: #FFFFFF;
        font-size: 18px;
        margin-top: 10px;
        line-height: 24px;
    }
    .h-lianxiwom {
        height: 98px;
    }

    .h-footer {
        display: none;
    }

}

//大屏
@media screen and(min-width:768px) {
    .h-smallping {
        display: none;
    }

    .W-shouye-top {
        @include cube(100%,100px);
        background: #283A86;
    }

    .W-shouye-neitop {
        @include cube(80%,100px);
        overflow: hidden;
        margin: 0 auto;
        //      text-align:justify;

        div {

            @include cube(12.5%,100px);
            float: left;

            a {
                display: block;
                float: left;
                @include cube(100%,100px);
                text-align: center;
                line-height: 100px;
                color: #F6F6F9;
                text-decoration: none;

            }

        }

    }

    .W-shouye-logo {

        img {
            @include cube(50px,100px);
            display: block;
            float: left;
        }

        span {
            line-height: 100px;
            display: block;
            float: left;
            color: #F6F6F9;
        }
    }

    .W-shouye-neitop > div > a {
        &:hover {
            color: #34D9E6;
        }
    }
    .W-shouye-banner {
        @include cube(100%,620px);

    }
    .W-shouye-bannerbox {
        @include cube(100%,620px);
        overflow: hidden;

        position: relative;
        top: 0;
        left: 0;
        .W-shouye-bannerli {
            @include cube(100%,620px);
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../img/W-shouye-banner2.png");
            background-size: cover;
            background-position: center center;
            opacity: 0;

        }

        .first {
            opacity: 1;
            transition: opacity 0.1s;
        }
    }
    .W-shouye-bannerbox > li:nth-child(1) {
        background-image: url("../img/W-shouye-bannerd.jpg");
    }
    .W-shouye-bannerbox > li:nth-child(2) {
        background-image: url("../img/W-shouye-bannerc.jpg");
    }
    .W-shouye-bannerbox > li:nth-child(3) {
        background-image: url("../img/W-shouye-bannere.jpg");
    }
    .W-shouye-circlebox {
        @include cube(60px,10px);
        //      background: red;
        position: absolute;
        left: 50%;
        bottom: -55px;
        .W-shouye-circle {
            @include cube(10px,10px);

            float: left;
            margin-left: 5px;
            border-radius: 50%;
            background: #CCCCCC;
        }
        .first {
            background: #6C645A;
        }
    }
    .W-shouye-left {
        @include cube(20px,30px);
        font-family: "宋体";
        font-size: 50px;
        font-weight: 600;
        position: absolute;
        left: 5px;
        top: 50%;
        color: #ccc;
    }
    .W-shouye-right {
        @include cube(20px,30px);
        font-family: "宋体";
        font-size: 50px;
        font-weight: 600;
        position: absolute;
        right: 15px;
        top: 50%;
        color: #ccc;
    }

    .W-shouye-we {
        margin: 140px auto;
        height: 109px;
        display: block;

    }
    .W-shouye-wexia {
        width: 90%;
        //      margin-left:40%;
        margin: 0 auto;
        display: block;
    }
    .W-shouye-font {
        text-align: center;
        h4 {
            font-size: 24px;
            color: #F77676;
            margin-top: 32px;
            margin-bottom: 12px;

        }
        img {
            display: block;
            margin: 0 auto 23px;
        }
        .W-shouye-font1zhong {
            @include cube(555px,auto);
            margin: 0 auto 28px;
            line-height: 28px;
            color: #ACABAB;
        }
        .W-shouye-font1ying {
            @include cube(555px,auto);
            margin: 0 auto;
            line-height: 28px;
            color: #979696;

        }

    }
    .W-shouye-more {
        margin: 35px auto;
        display: block;

    }
    .W-shouye-xitiao {
        margin: 0 auto;
        display: block;
        width: 90%;

    }

    .W-shouye-meunbox {
        //      background: red;
        @include cube(100%,20px);
        padding-left: 20%;
        padding-right: 21%;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .W-shouye-meun {
        @include cube(20%,20px);
        float: left;
        text-align: center;

    }
    .W-shouye-fuwu {
        margin: 70px auto 20px;
        //      margin:  auto;
        //      height:109px;
        display: block;

    }
    .W-shouye-changtiao {
        width: 100%;
        //      height:532px;
        background-image: url("../img/W-shouye-changtiao.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .W-shouye-xiaoping-a {
        display: none;
    }
    .W-shouye-tuandui {
        margin: 95px auto;
        display: block;

    }
    .W-shouye-shejibox2 {
        display: none;
    }
    .W-shouye-shejibox {
        @include cube(80%,450px);
        margin: 93px auto;
        overflow: hidden;

        li {
            float: left;
            display: block;
            @include cube(23%,450px);
            //          padding-left: 5px;
            //          padding-right: 5px;
            border: 10px solid #fff;

            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.2s linear;
            //          background-position: center;
            a {
                //              display: block;
                @include cube(100%,450px);
                text-decoration: none;
            }
        }

    }
    .W-shouye-shejibox > li > a {
        &:hover p {
            color: #2859F8;
        }
    }
    .W-shouye-shejibox > li {
        &:hover {
            transform: translate3d(0,-5px,0);
            //          box-shadow: 0 0px 10px #C6C6C6;

        }

    }
    .W-shouye-sheji1 {
        background-image: url("../img/W-shouye-ren1.png");

    }
    .W-shouye-sheji2 {
        background-image: url("../img/W-shouye-ren2.png");

    }
    .W-shouye-sheji3 {
        background-image: url("../img/W-shouye-ren3.png");

    }
    .W-shouye-sheji4 {
        background-image: url("../img/W-shouye-ren4.png");

    }
    .W-shouye-shejibox > li > a > p {
        color: #373838;
        margin-left: 10%;
        font-size: 12px;
        margin-bottom: 0;
    }
    .W-shouye-mingzi1 {
        margin-top: 143%;
        color: #A3928D;
    }
    .W-shouye-mingzi2 {

        color: #ccc;
    }
    .W-shouye-mingzi3 {
        color: #ccc;
    }
    .W-shouye-shejibox > li > a > .W-shouye-mingzi3 {
        font-size: 6px;
    }
    .W-shouye-changtiao3 {
        width: 100%;

    }
    .W-shouye-xiaoping-b {
        display: none;
    }
    .W-shouye-siren {
        margin: 95px auto;
        display: block;
    }
    .W-shouye-lianxi {
        margin: 105px auto;
        display: block;
    }

    //  大好时光
    .W-shouye-dahao {
        @include cube(80%,auto);
        margin: 0 auto;
        text-align: center;
        margin-bottom: 75px;
        h4 {
            @include font(24px,#343535,500);
        }
        h5 {
            @include font(18px,#212121,200);
            margin-top: 15px;
            margin-bottom: 15px;
        }
        p {
            @include cube(70%,auto);
            margin: 0 auto;
            color: #808080;
            font-size: 14px;
            margin-top: 28px;
            line-height: 25px;
        }
    }

    .W-shouye-lianxixia {
        margin: 0 auto;
        display: block;
    }

    //  bottom
    .W-shouye-bottom {
        @include cube(70%,217px);
        margin: 0 auto 65px;
        li {
            @include cube(33.33%,auto);
            float: left;
            //          padding-left: 5px;
            //          padding-right: 5px;
            border: 10px solid #fff;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            top: 0;
            left: 0;
            a {
                display: block;
                @include cube(100%,auto);
                img {
                    @include cube(100%,auto);

                }
            }
        }
    }

    .W-shouye-zhezhao {
        width: 100%;
        height: 100%;
        /*background: red;*/
        position: absolute;
        top: 0;
        left: 0;
        background: #2D2A27;
        opacity: 0.8;
        transition: all 0.2s linear;

    }
    .W-shouye-zhezhao > h2 {
        color: #fff;
        text-align: center;
        background: #000;
        opacity: 0;
        font-size: 20px;
        margin-top: 34%;
        margin-bottom: 0;
        margin-right: -160%;
        line-height: 150%;

    }
    .W-shouye-zhezhao > p {
        color: #fff;
        text-align: center;
        opacity: 0;
        margin-left: -160%;
    }
    .W-shouye-bottombox:hover .W-shouye-zhezhao {
        opacity: 0.5;
    }

    @keyframes one {
        0% {
            margin-right: -100%;
        }
        100% {
            margin-right: 0;
        }
    }
    @keyframes two {
        0% {
            margin-left: -100%;
        }
        100% {
            margin-left: 0;
        }
    }
    .W-shouye-bottombox:hover .W-shouye-h2 {
        animation-name: one;
        animation-duration: 0.2s;
        animation-iteration: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .W-shouye-bottombox:hover .W-shouye-p {
        animation-name: two;
        animation-duration: 0.2s;
        animation-delay: 0.2s;
        animation-iteration: 1;
        animation-fill-mode: forwards;
        opacity: 1;

    }
    .h-dibu {
        display: none;
    }
    .h-footer {
        width: 100%;
        height: 63px;
        background: #273786;
        display: block;
    }
    .h-footers {
        width: 90%;
        height: 100%;
        background-image: url("../img/h-footer.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 0 auto;
    }
}
