@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'W-iconfont';
  src: url("../fonts/w-font/iconfont.eot");
  src: url("../fonts/w-font/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/w-font/iconfont.woff") format("woff"), url("../fonts/w-font/iconfont.ttf") format("truetype"), url("../fonts/w-font/iconfont.svg#iconfont") format("svg"); }

@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    list-style: none; }
  .h-header {
    width: 100%;
    height: 50px;
    background: #273786;
    padding-top: 12px;
    position: relative; }
  .h-hleft {
    width: 50%;
    height: 38px;
    margin-left: 10px;
    position: relative; }
  @font-face {
    font-family: 'iconfont';
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale; }
  .h-hleft i {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: 20px;
    top: 1px; }
  .h-hleft input {
    width: 100%;
    height: 37px;
    margin-left: 15px;
    background: #273786;
    border: none; }
  .h-hright {
    width: 60px;
    height: 38px;
    position: absolute;
    right: 115px;
    top: 12px;
    border: 1px solid #fff;
    text-align: center; }
  .h-hrights {
    width: 80px;
    height: 38px;
    position: absolute;
    right: 20px;
    top: 12px;
    text-align: center; }
  .h-yingc {
    z-index: 40;
    position: absolute;
    width: 150px;
    height: 366px;
    right: 0;
    top: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: none; }
  .h-yingc h3 {
    color: #fff;
    width: 150px;
    height: 61px;
    line-height: 61px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #0085D0;
    margin: 0;
    padding: 0; }
  .h-yingc a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center; }
  .h-hrights i {
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    cursor: pointer; }
  .W-shouye-top {
    width: 100%;
    height: 100px;
    background: #283A86;
    display: none; }
  .W-shouye-neitop {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: none; }
    .W-shouye-neitop div {
      width: 12.5%;
      height: 100px;
      float: left; }
      .W-shouye-neitop div a {
        display: block;
        float: left;
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        color: #F6F6F9; }
  .W-shouye-logo img {
    width: 50px;
    height: 100px;
    display: block;
    float: left; }
  .W-shouye-logo span {
    line-height: 100px;
    display: block;
    float: left;
    color: #F6F6F9; }
  .W-shouye-neitop > div > a:hover {
    color: #34D9E6; }
  .W-shouye-banner {
    width: 100%;
    height: 270px; }
  .W-shouye-bannerbox {
    width: 100%;
    height: 270px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0; }
    .W-shouye-bannerbox .W-shouye-bannerli {
      width: 100%;
      height: 270px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/W-shouye-banner2.png");
      background-size: cover;
      background-position: center center;
      opacity: 0; }
    .W-shouye-bannerbox .first {
      opacity: 1;
      transition: opacity 0.1s; }
  .W-shouye-bannerbox > li:nth-child(1) {
    background-image: url("../img/W-banner-xiao1.jpg"); }
  .W-shouye-bannerbox > li:nth-child(2) {
    background-image: url("../img/W-banner-xiao2.jpg"); }
  .W-shouye-bannerbox > li:nth-child(3) {
    background-image: url("../img/W-banner-xiao3.jpg"); }
  .W-shouye-circlebox {
    width: 60px;
    height: 10px;
    position: absolute;
    left: 44%;
    bottom: -37px; }
    .W-shouye-circlebox .W-shouye-circle {
      width: 10px;
      height: 10px;
      float: left;
      margin-left: 5px;
      border-radius: 50%;
      background: #CCCCCC; }
    .W-shouye-circlebox .first {
      background: #6C645A; }
  .W-shouye-bannerli > img {
    display: none; }
  .W-shouye-left {
    width: 20px;
    height: 30px;
    font-family: "宋体";
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    left: 5px;
    top: 22%;
    color: #ccc;
    font-weight: 200; }
  .W-shouye-right {
    width: 20px;
    height: 30px;
    font-family: "宋体";
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    right: 15px;
    top: 22%;
    color: #ccc;
    font-weight: 200; }
  @keyframes zi1 {
    0% {
      top: 40px;
      opacity: 0; }
    100% {
      top: 70px;
      opacity: 1; } }
  .first > .W-zhui1 {
    position: absolute;
    left: 15%;
    animation-name: zi1;
    animation-duration: 1.9s;
    animation-delay: 0.1s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 0; }
  @keyframes zi2 {
    0% {
      top: 40px;
      opacity: 0; }
    100% {
      top: 110px;
      opacity: 1; } }
  .first > .W-zhui2 {
    position: absolute;
    left: 60%;
    animation-name: zi1;
    animation-duration: 0.9s;
    animation-delay: 0.1s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 0; }
  .W-shouye-we {
    margin: 70px auto;
    height: 109px;
    display: block; }
  .W-shouye-we {
    animation: lingxian 5s infinite; }
  @keyframes lingxian {
    0% {
      transform: rotateY(0); }
    60% {
      transform: rotateY(0); }
    100% {
      transform: rotateY(360deg); } }
  .W-shouye-wexia {
    width: 100%;
    margin: 0 auto;
    display: block; }
  .W-shouye-font {
    text-align: center; }
    .W-shouye-font h4 {
      font-size: 24px;
      color: #F77676;
      margin-top: 32px;
      margin-bottom: 12px; }
    .W-shouye-font img {
      display: block;
      margin: 0 auto 23px; }
    .W-shouye-font .W-shouye-font1zhong {
      width: 80%;
      height: auto;
      margin: 0 auto 28px;
      line-height: 28px;
      color: #ACABAB; }
    .W-shouye-font .W-shouye-font1ying {
      width: 80%;
      height: auto;
      margin: 0 auto;
      line-height: 28px;
      color: #979696; }
  .W-shouye-morea {
    width: 30%;
    margin: 0 auto;
    display: block; }
  .W-shouye-more {
    margin: 35px auto;
    display: block; }
  .W-shouye-xitiao {
    display: none; }
  .W-shouye-meunbox {
    width: 100%;
    height: 20px;
    padding-left: 25%;
    padding-right: 22%;
    box-sizing: border-box;
    margin-top: 10px;
    display: none; }
  .W-shouye-meun {
    width: 20%;
    height: 20px;
    float: left; }
  .W-shouye-fuwu {
    margin: 70px auto;
    display: block;
    animation: lingxian 5s infinite; }
  .W-sigebox {
    margin-bottom: 100px;
    position: relative;
    top: 0;
    left: 0; }
    .W-sigebox li {
      text-align: center; }
      .W-sigebox li:hover a {
        color: #00B7EE; }
      .W-sigebox li a {
        font-family: "W-iconfont";
        color: #000;
        font-size: 40px;
        text-decoration: none; }
      .W-sigebox li .W-xiala {
        height: 50px;
        width: auto;
        text-align: left;
        height: auto;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 63%;
        display: none; }
        .W-sigebox li .W-xiala .W-xiala-p1 {
          color: #FC8484;
          float: left; }
        .W-sigebox li .W-xiala .W-xiala-p2 {
          float: left; }
        .W-sigebox li .W-xiala .W-xiala-p3 {
          display: none; }
  .W-sigebox > li:hover .W-xiala {
    display: block; }
  .W-shouye-changtiao {
    display: none; }
  .W-shouye-xiaoping-a {
    margin-bottom: 70px; }
  .W-shouye-tuandui {
    margin: 70px auto;
    display: block;
    animation: lingxian 5s infinite; }
  .W-shouye-shejibox2 {
    display: none; }
  .W-shouye-shejibox {
    width: 100%;
    height: auto;
    margin: 93px auto;
    overflow: hidden; }
    .W-shouye-shejibox li {
      float: left;
      margin-top: 20px;
      box-sizing: border-box;
      transition: all 0.2s linear; }
      .W-shouye-shejibox li a {
        display: block;
        position: relative;
        top: 0;
        left: 0; }
        .W-shouye-shejibox li a img {
          width: 80%;
          display: block; }
  .W-shouye-shejibox > li > a:hover p {
    color: #2859F8; }
  .W-shouye-shejibox > li:hover {
    transform: translate3d(0, -5px, 0); }
  .W-shouye-shejibox > li > a > p {
    position: absolute;
    left: 12px; }
  .W-shouye-mingzi1 {
    color: #A3928D;
    bottom: 5vw;
    font-size: 3vw;
    margin-top: -60px;
    margin-bottom: 0; }
  .W-shouye-mingzi2 {
    color: #ccc;
    bottom: -2vw;
    font-size: 1vw; }
  .W-shouye-mingzi3 {
    color: #ccc;
    bottom: -11px;
    font-size: 5px;
    display: none; }
  .W-shouye-changtiao3 {
    width: 100%;
    display: none; }
  .W-shouye-xiaoping-b {
    margin-bottom: 40px; }
  .W-shouye-siren {
    margin: 95px auto;
    display: block;
    animation: lingxian 5s infinite; }
  .W-shouye-lianxi {
    margin: 105px auto;
    display: block;
    animation: lingxian 5s infinite; }
  .W-shouye-dahao {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px; }
    .W-shouye-dahao h4 {
      font-size: 24px;
      color: #343535;
      font-weight: 500; }
    .W-shouye-dahao h5 {
      font-size: 18px;
      color: #212121;
      font-weight: 200;
      margin-top: 15px;
      margin-bottom: 15px; }
    .W-shouye-dahao p {
      width: 90%;
      height: auto;
      margin: 0 auto;
      color: #808080;
      font-size: 14px;
      margin-top: 28px;
      line-height: 25px; }
  .W-shouye-lianxixia {
    margin: 0 auto;
    display: block; }
  .W-shouye-bottom {
    width: 70%;
    height: auto;
    margin: 95px auto;
    overflow: hidden; }
    .W-shouye-bottom li {
      width: 100%;
      height: auto;
      margin-top: 20px;
      overflow: hidden;
      position: relative;
      top: 0;
      left: 0; }
      .W-shouye-bottom li a {
        display: block;
        width: 100%;
        height: auto; }
        .W-shouye-bottom li a img {
          width: 100%;
          height: auto;
          transition: width .3s linear .2s; }
  .W-shouye-zhezhao {
    width: 100%;
    height: 100%;
    /*background: red;*/
    position: absolute;
    top: 0;
    left: 0;
    background: #2D2A27;
    opacity: 0.8;
    transition: all 0.2s linear; }
  .W-shouye-zhezhao > h2 {
    color: #fff;
    text-align: center;
    background: #000;
    opacity: 0;
    font-size: 20px;
    margin-top: 24%;
    margin-right: -160%;
    line-height: 350%; }
  .W-shouye-zhezhao > p {
    color: #fff;
    text-align: center;
    opacity: 0;
    margin-left: -160%; }
  .W-shouye-bottombox:hover img {
    width: 120%; }
  .W-shouye-bottombox:hover .W-shouye-zhezhao {
    opacity: 0.5; }
  @keyframes one {
    0% {
      margin-right: -100%; }
    100% {
      margin-right: 0; } }
  @keyframes two {
    0% {
      margin-left: -100%; }
    100% {
      margin-left: 0; } }
  .W-shouye-bottombox:hover .W-shouye-h2 {
    animation-name: one;
    animation-duration: 0.2s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 1; }
  .W-shouye-bottombox:hover .W-shouye-p {
    animation-name: two;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 1; }
  .h-dibu {
    width: 100%;
    height: 330px;
    background: #273786;
    margin-top: 50px;
    text-align: center;
    padding-top: 40px; }
  .h-dibu h2 {
    color: #76e0ed;
    font-size: 30px;
    margin-bottom: 10px; }
  .h-dibu h2 > span {
    color: #c9c9c9;
    font-size: 30px; }
  .h-dibu h3 {
    color: #b9b9b9;
    font-size: 24px; }
  .h-dibu h4 {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
    line-height: 24px; }
  .h-lianxiwom {
    height: 98px; }
  .h-footer {
    display: none; } }

@media screen and (min-width: 768px) {
  .h-smallping {
    display: none; }
  .W-shouye-top {
    width: 100%;
    height: 88px;
    background: #283A86; }
  .W-shouye-neitop {
    width: 80%;
    height: 88px;
    overflow: hidden;
    margin: 0 auto; }
    .W-shouye-neitop div {
      width: 12.5%;
      height: 88px;
      float: left; }
      .W-shouye-neitop div a {
        display: block;
        float: left;
        width: 100%;
        height: 88px;
        text-align: center;
        line-height: 100px;
        color: #F6F6F9;
        text-decoration: none; }
  .W-shouye-logo img {
    width: 50px;
    height: 88px;
    display: block;
    float: left; }
  .W-shouye-logo span {
    line-height: 88px;
    display: block;
    float: left;
    color: #F6F6F9; }
  .W-shouye-neitop > div > a:hover {
    color: #34D9E6; }
  .W-shouye-banner {
    width: 100%;
    height: 620px; }
  .W-shouye-bannerbox {
    width: 100%;
    height: 620px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0; }
    .W-shouye-bannerbox .W-shouye-bannerli {
      width: 100%;
      height: 620px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/W-shouye-banner2.png");
      background-size: cover;
      background-position: center center;
      opacity: 0; }
    .W-shouye-bannerbox .first {
      opacity: 1;
      transition: opacity 0.1s; }
  .W-shouye-bannerbox > li:nth-child(1) {
    background-image: url("../img/W-banner-xinde1.jpg"); }
  .W-shouye-bannerbox > li:nth-child(2) {
    background-image: url("../img/W-banner-xinde2.jpg"); }
  .W-shouye-bannerbox > li:nth-child(3) {
    background-image: url("../img/W-banner-xinde4.jpg"); }
  .W-shouye-circlebox {
    width: 60px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 640px; }
    .W-shouye-circlebox .W-shouye-circle {
      width: 10px;
      height: 10px;
      float: left;
      margin-left: 5px;
      border-radius: 50%;
      background: #CCCCCC; }
    .W-shouye-circlebox .first {
      background: #6C645A; }
  .W-shouye-left {
    width: 20px;
    height: 30px;
    font-family: "宋体";
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    left: 5px;
    top: 50%;
    color: #ccc; }
  .W-shouye-right {
    width: 20px;
    height: 30px;
    font-family: "宋体";
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    right: 15px;
    top: 50%;
    color: #ccc; }
  @keyframes zi1 {
    0% {
      top: 0;
      opacity: 0; }
    100% {
      top: 70px;
      opacity: 1; } }
  .first > .W-zhui1 {
    position: absolute;
    left: 35%;
    animation-name: zi1;
    animation-duration: 1.9s;
    animation-delay: 0.1s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 0; }
  @keyframes zi2 {
    0% {
      top: 40px;
      opacity: 0; }
    100% {
      top: 110px;
      opacity: 1; } }
  .first > .W-zhui2 {
    position: absolute;
    left: 60%;
    animation-name: zi1;
    animation-duration: 0.9s;
    animation-delay: 0.1s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 0; }
  .W-shouye-we {
    margin: 140px auto;
    height: 109px;
    display: block; }
  .W-shouye-we {
    animation: lingxian 5s infinite; }
  @keyframes lingxian {
    0% {
      transform: rotateY(0); }
    60% {
      transform: rotateY(0); }
    100% {
      transform: rotateY(360deg); } }
  .W-shouye-wexia {
    width: 70%;
    margin: 0 auto;
    display: block;
    transition: all 0.2s linear; }
    .W-shouye-wexia:hover {
      transform: translate3d(0, -5px, 0);
      box-shadow: 0 4px 7px 0 #ccc; }
  .W-shouye-font {
    text-align: center; }
    .W-shouye-font h4 {
      font-size: 24px;
      color: #F77676;
      margin-top: 32px;
      margin-bottom: 12px; }
    .W-shouye-font img {
      display: block;
      margin: 0 auto 23px; }
    .W-shouye-font .W-shouye-font1zhong {
      width: 555px;
      height: auto;
      margin: 0 auto 28px;
      line-height: 28px;
      color: #ACABAB; }
    .W-shouye-font .W-shouye-font1ying {
      width: 555px;
      height: auto;
      margin: 0 auto;
      line-height: 28px;
      color: #979696; }
  .W-shouye-more {
    margin: 35px auto;
    display: block; }
  .W-shouye-xitiao {
    margin: 0 auto;
    display: block;
    width: 90%; }
  .W-shouye-meunbox {
    width: 100%;
    height: 20px;
    padding-left: 20%;
    padding-right: 21%;
    box-sizing: border-box;
    margin-top: 10px; }
  .W-shouye-meun {
    width: 20%;
    height: 20px;
    float: left;
    text-align: center; }
  .W-shouye-fuwu {
    margin: 70px auto;
    display: block; }
  .W-shouye-fuwu {
    animation: lingxian 5s infinite; }
  @keyframes lingxian {
    0% {
      transform: rotateY(0); }
    60% {
      transform: rotateY(0); }
    100% {
      transform: rotateY(360deg); } }
  .W-sigebox {
    margin-bottom: 100px;
    position: relative;
    top: 0;
    left: 0; }
    .W-sigebox li {
      text-align: center; }
      .W-sigebox li:hover a {
        color: #00B7EE; }
      .W-sigebox li a {
        font-family: "W-iconfont";
        color: #000;
        font-size: 40px;
        text-decoration: none; }
      .W-sigebox li .W-xiala {
        width: 100px;
        text-align: left;
        height: auto;
        margin: 0 auto;
        position: absolute;
        top: 50px;
        left: 40%;
        display: none; }
        .W-sigebox li .W-xiala .W-xiala-p1 {
          color: #FC8484;
          float: left; }
        .W-sigebox li .W-xiala .W-xiala-p2 {
          float: left; }
  .W-sigebox > li:hover .W-xiala {
    display: block; }
  .W-shouye-changtiao {
    width: 100%;
    background-image: url("../img/W-shouye-changtiao.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .W-shouye-xiaoping-a {
    display: none; }
  .W-shouye-tuandui {
    margin: 95px auto;
    display: block; }
  .W-shouye-tuandui {
    animation: lingxian 5s infinite; }
  @keyframes lingxian {
    0% {
      transform: rotateY(0); }
    60% {
      transform: rotateY(0); }
    100% {
      transform: rotateY(360deg); } }
  .W-shouye-shejibox2 {
    display: none; }
  .W-shouye-shejibox {
    width: 100%;
    height: auto;
    margin: 93px auto;
    overflow: hidden; }
    .W-shouye-shejibox li {
      float: left;
      box-sizing: border-box;
      transition: all 0.2s linear; }
      .W-shouye-shejibox li a {
        display: block;
        position: relative;
        top: 0;
        left: 0; }
        .W-shouye-shejibox li a img {
          width: 80%;
          display: block; }
  .W-shouye-shejibox > li > a:hover p {
    color: #2859F8; }
  .W-shouye-shejibox > li:hover {
    transform: translate3d(0, -5px, 0); }
  .W-shouye-shejibox > li > a > p {
    position: absolute;
    left: 10px; }
  .W-shouye-mingzi1 {
    color: #A3928D;
    bottom: 25px;
    font-size: 1.8vw;
    margin-top: -60px; }
  .W-shouye-mingzi2 {
    color: #ccc;
    bottom: 7px;
    font-size: 0.8vw; }
  .W-shouye-mingzi3 {
    color: #ccc;
    bottom: -11px;
    font-size: 5px;
    font-size: 0.8vw; }
  .W-shouye-changtiao3 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden; }
  .W-changtiao3 {
    width: 100%; }
  @keyframes haha {
    0% {
      right: -20%; }
    100% {
      right: -5%; } }
  .W-shouye-beibao {
    width: 17%;
    position: absolute;
    bottom: 0;
    right: -20%; }
  .W-shouye-changtiao3:hover .W-shouye-beibao {
    animation-name: haha;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-iteration: 1;
    animation-fill-mode: forwards; }
  .W-shouye-xiaoping-b {
    display: none; }
  .W-shouye-siren {
    margin: 95px auto;
    display: block; }
  .W-shouye-siren {
    animation: lingxian 5s infinite; }
  .W-shouye-lianxi {
    animation: lingxian 5s infinite;
    margin: 105px auto;
    display: block; }
  .W-shouye-dahao {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px; }
    .W-shouye-dahao h4 {
      font-size: 24px;
      color: #343535;
      font-weight: 500; }
    .W-shouye-dahao h5 {
      font-size: 18px;
      color: #212121;
      font-weight: 200;
      margin-top: 15px;
      margin-bottom: 15px; }
    .W-shouye-dahao p {
      width: 70%;
      height: auto;
      margin: 0 auto;
      color: #808080;
      font-size: 14px;
      margin-top: 28px;
      line-height: 25px; }
  .W-shouye-lianxixia {
    margin: 0 auto;
    display: block; }
  .W-shouye-bottom {
    width: 70%;
    height: 217px;
    overflow: hidden;
    margin: 0 auto 65px; }
    .W-shouye-bottom li {
      width: 33.33%;
      height: auto;
      float: left;
      border: 10px solid #fff;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      top: 0;
      left: 0; }
      .W-shouye-bottom li a {
        display: block;
        width: 100%;
        height: auto; }
        .W-shouye-bottom li a img {
          width: 100%;
          height: auto;
          transition: width .3s linear .2s; }
  .W-shouye-zhezhao {
    width: 100%;
    height: 100%;
    /*background: red;*/
    position: absolute;
    top: 0;
    left: 0;
    background: #2D2A27;
    opacity: 0.8;
    transition: all 0.2s linear; }
  .W-shouye-zhezhao > h2 {
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 20px;
    margin-top: 34%;
    margin-bottom: 0;
    margin-right: -160%;
    line-height: 150%; }
  .W-shouye-zhezhao > p {
    color: #fff;
    text-align: center;
    opacity: 0;
    margin-left: -160%; }
  .W-shouye-bottombox:hover .W-shouye-zhezhao {
    opacity: 0.5; }
  @keyframes one {
    0% {
      margin-right: -100%; }
    100% {
      margin-right: 0; } }
  @keyframes two {
    0% {
      margin-left: -100%; }
    100% {
      margin-left: 0; } }
  .W-shouye-bottombox:hover .W-shouye-h2 {
    animation-name: one;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 1; }
  .W-shouye-bottombox:hover .W-shouye-p {
    animation-name: two;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
    opacity: 1; }
  .W-shouye-bottombox:hover img {
    width: 120%; }
  .h-dibu {
    display: none; }
  .h-footer {
    width: 100%;
    height: 63px;
    background: #273786;
    display: block; }
  .h-footers {
    width: 90%;
    height: 100%;
    background-image: url("../img/h-footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto; } }
