/*body{
	overflow: hidden;}*/

.small {
  font-size: 14px;
  color: #393939; }

.small > a {
  font-size: 14px;
  color: #393939; }

.small {
  margin-top: 75px; }

.banner {
  width: 100%;
  padding: 0; }

.banner > img {
  width: 100%; }

.tlt > p:first-of-type {
  color: #646363;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 64px; }

.tlt > p:first-of-type > span {
  color: #78F9FA; }

.tlt > p:nth-of-type(2) {
  font-size: 18px;
  color: #9C9B9B;
  margin-top: 20px;
  text-align: center; }

.tlt > div {
  width: 126px;
  height: 3px;
  background-image: linear-gradient(to left, #37F7F9 33.3%, #416EF7 33.4%, #416EF7 66.6%, #37F7F9 66.7%);
  margin: 14px auto; }

.tlt > p:nth-of-type(3) {
  margin-top: 43px;
  font-size: 24px;
  color: #6A6A6A;
  text-align: center; }

.tlt > p:nth-of-type(4) {
  margin-top: 18px;
  font-size: 18px;
  color: #6A6A6A;
  text-align: center;
  margin-bottom: 10px; }

.text > div {
  width: 100%;
  height: 347px;
  background-image: url(../img/x-sem_05_05.png);
  background-size: cover;
  background-position: center center;
  margin: 60px 0; }

.text > p:first-of-type, .text > p:nth-of-type(2) {
  font-size: 14px;
  color: #898686;
  margin-top: 28px; }

.text > p:nth-of-type(3) {
  color: #B9B9B9;
  font-size: 12px;
  margin-top: 50px; }

.text > p:nth-of-type(4) {
  color: #B9B9B9;
  font-size: 12px;
  margin-top: 28px; }

.text > p:nth-of-type(5), .text > p:nth-of-type(6) {
  font-size: 14px;
  color: #898686;
  margin-top: 28px; }

.text > p:nth-of-type(7) {
  color: #B9B9B9;
  font-size: 12px;
  margin-top: 50px; }

.text > p:nth-of-type(8) {
  color: #B9B9B9;
  font-size: 12px;
  margin-top: 28px; }

.ico img {
  width: 43px; }

.ico > div {
  margin-top: 68px;
  margin-bottom: 50px;
  float: right; }

.look {
  width: 100%;
  text-align: center;
  color: #C3C3C3;
  font-size: 18px; }

.look > p:first-child {
  font-size: 24px;
  color: #BABABA; }

.look > p:first-child > span {
  color: #A5A5A5;
  font-weight: bold; }
.W-shouye-top {
    width: 100%;
    height: 100px;
    background: #283A86;
    display: block; }
  .W-shouye-neitop {
    width: 80%;
    height: 100px;
    overflow: hidden;
    margin: 0 auto; }
  .W-shouye-neitop div {
    width: 12.5%;
    height: 100px;
    float: left; }
  .W-shouye-neitop div a {
    display: block;
    float: left;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #F6F6F9; }
  .W-shouye-logo img {
    width: 50px;
    height: 100px;
    display: block;
    float: left; }
  .W-shouye-logo span {
    line-height: 100px;
    display: block;
    float: left;
    color: #F6F6F9; }
  .W-shouye-neitop > div > a:hover {
    color: #34D9E6; }
  .W-shouye-banner {
    width: 100%;
    height: 620px;
    display: block; }
  .W-shouye-bannerbox {
    width: 100%;
    height: 620px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0; }
  .W-shouye-bannerbox .W-shouye-bannerli {
    width: 100%;
    height: 620px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/W-shouye-banner2.png");
    background-size: cover;
    background-position: center center; }
    #self{
    	color: #30A9C5;
    }
		@keyframes rightt{
			0%{opacity:0;}
			100%{opacity: 1;}
		}
		.two{
			animation: rightt 1.5s linear 0s 1 forwards;
		}
@media screen and (max-width: 770px) {
  .large {
    display: none; }
  .banner-m {
    width: 100%;
    height: 1106px;
    background-image: url(../img/x-sem_02.png);
    background-size: cover;
    background-position: center center; }
  article {
    padding: 26px 30px; }
  article > img {
    display: block;
    width: 50%;
    margin: 50px auto 50px auto; }
  section:first-of-type {
    color: #646464;
    font-size: 24px; }
  section:nth-of-type(2) {
    width: 100%; }
  .tit {
    color: #37B9F7;
    font-size: 24px;
    float: left; }
  .tit span {
    color: #BCBABA;
    font-size: 24px; }
  .tit > p:nth-child(2) {
    color: #737373; }
  .tit + div {
    float: right; }
  .tit + div p {
    font-size: 20px;
    color: #E5E5E5;
    text-align: right; }
  .tit + div p:nth-child(2) {
    line-height: 10px; }
  .line {
    width: 100%; }
  .line > img {
    width: 75%;
    height: 7px; }
  .line > p {
    width: 25%;
    float: right;
    font-size: 20px;
    color: #BABABA;
    text-align: right; }
  .content {
    width: 100%;
    color: #9A9A9A;
    font-size: 20px;
    margin-top: 26px; }
  .english {
    font-size: 18px;
    color: #D3D3D3;
    margin-top: 26px; }
  .content > img {
    width: 100%;
    display: block;
    margin: 36px 0; }
  .icon {
    width: 100%;
    height: 74px;
    float: right;
    margin-top: 100px;
    text-align: right;
    margin-bottom: 100px; }
  .icon > img{
  	width: 20%;
  }
  .look {
    width: 100%;
    text-align: center;
    color: #C3C3C3;
    font-size: 18px; }
  .look > p:first-child {
    font-size: 24px;
    color: #BABABA; }
  .look > p:first-child > span {
    color: #A5A5A5;
    font-weight: bold; }
  footer {
    width: 100%;
    height: 334px;
    background: #283A86;
    margin-top: 53px;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    color: #8A8EA7;
    font-size: 18px; }
  footer > p:nth-child(1) span {
    color: #76e0ed; }
  footer > p:nth-child(1) {
    color: #c9c9c9;
    font-size: 30px;
    margin-top: 40px; }
  footer > p:nth-of-type(2) {
    font-size: 24px;
    margin-bottom: 14px; }
  footer > div {
    margin-top: 40px; }
  footer > div > img:nth-child(2) {
    margin: 0 20px 0 20px; } }
  

@media screen and (min-width: 770px) {
  .super {
    display: none; } }
	.blue{
		width: 100%;
		margin-top: 63px;
		height: 64px;
		background: #273786;
		overflow: hidden;}	
	.h-footers {
	    height: 63px;
	    color: #fff;
	    margin: 0 auto; }
  .h-footers .imgsone {
    margin-top: 17px;
    float: left; }
  .h-footers h4 {
  	overflow: hidden;text-overflow: ellipsis;
    float: left;
    height: 63px;
    line-height: 63px;
    margin-left: 10px; }
  .h-footers h5 {
  	overflow: hidden;text-overflow: ellipsis;
  	height:63px;
    float: left;
    /*height: 60px;*/
    line-height: 63px; }
  .imgsphone {
    /*width: 63px;*/
    height: 63px;
    background-image: url(../img/h-phone.png);
    float: left;
    margin-top: 12px;
    /*margin-left: 100px;*/
    background-repeat: no-repeat;
    background-size: 80%; }
  .imgscity {
    /*width: 63px;*/
    height: 63px;
    background-image: url(../img/h-youjian.png);
    float: left;
    margin-top: 12px;
    /*margin-left: 10px;*/
    background-repeat: no-repeat;
    background-size: 80%; }
  .imgsemail {
    /*width: 63px;*/
    height: 63px;
    background-image: url(../img/h-weizhi.png);
    float: left;
    margin-top: 12px;
    /*margin-left: 10px;*/
    background-size: 80%;
    background-repeat: no-repeat; } 
	@media screen and (max-width: 770px) {
  .large {
    display: none; }
   @font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.h-header{
	width:100%;
	height:84px;
	background:#273786;
	padding-top: 12px;
	position: relative;
}
.h-hleft{
	width:50%;
	height:60px;
	margin-left: 10px;
	border:1px solid #ccc;
	position: relative;
}
.h-hleft i{
	font-size: 20px;
	line-height: 60px;
	color: #fff;
	margin-left: 10px;
	position: absolute;
	left:20px;
	top:1px;
}
.h-hleft input{
	position: absolute;
	left:40px;
	top:1px;
	width:60%;
	height:56px;
	margin-left: 15px;
	background:#273786;
	border:none;
	color: #fff;
	border:none;
}
.h-hright{
	width:60px;
	height:60px;
	position: absolute;
	right:115px;
	top:12px;
	border: 1px solid #fff;
	text-align: center;
}
.h-hright i{
	font-size: 40px;
	line-height: 60px;	
	color: #fff;
}
.h-hrights{
	width:80px;
	height:60px;
	position: absolute;
	right:20px;
	top:12px;
	text-align: center;
}
.h-yingc{
	position: absolute;
	width:150px;
	height:360px;
	right: -20px;
	top:72px;
	background: rgba(0,0,0,0.5);
    color: #fff;
	cursor: pointer;
	display: none;
	z-index: 100;
}
.h-yingc a{
	color: #fff;
	text-decoration:none;
}
a:hover{
  color:#34D9E6 ;
}
.h-yingc h3{
	line-height: 60px;
	text-align: center;
	 font-size:16px ;
  font-family: "Microsoft YaHei";
	box-sizing: border-box;
	border-bottom: 1px solid #0085D0;
}
.h-hrights i{
	font-size: 40px;
	line-height: 60px;	
	color: #fff;
	cursor: pointer;
}
